$backgroundColor:#ace0f9;
$cardNavBgColor:#171b20;
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
$turkuaz: #042940;
$yeşil: #005C53;
$fıstıkYeşili: #9FC131;
$fosforluSarı: #DBF227;
$krem: #D6D58E;

/* Color Theme Swatches in Hex */
$acıkTurkuaz: #004C50;
$mavi: #00939C;
$acıkMavi: #10ABB4;
$acıkKahve: #9C3E00;
$koyuKahve: #502000;







